* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.3em;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /* font-family: Arial, sans-serif; */
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background: gray;
    margin: auto;
    position: relative;
}

.header .wrapper {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}

.about {
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 4rem;
    width: min(100vw - 2.5rem, 37.5rem);
}

.about h2 {
    margin-bottom: 1.25rem;
}


.header-links {
    border: 1px blue solid;
    margin: 10px;
}

.header-content .icon,
.links .icon {
    max-width: 8vh;
    height: auto;
}

/* .header-links .linkedin {
    max-width: 100px;
    height: auto;
} */

.all-projects .icon {
    max-width: 4vh;
    height: auto;
}


figure > img,
.footer-portrait {
    max-width: 48vh;
    height: auto;
}
